<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.skills %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Skills</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
<div style="z-index: 2;"><span>...</span></div>
 <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
<div style="margin-top: -32px;"><progress max="100" value="50">50%</progress></div>
  </div>
</div>
{% endif %}